@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito Sans";
  src: url("/NunitoSans.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f6f6f7;
}

*::-webkit-scrollbar {
  width: 14px;
}
*::-webkit-scrollbar:horizontal {
  height: 14px;
}
*::-webkit-scrollbar-track {
  background-color: #ffffff;
}
*::-webkit-scrollbar-track:horizontal {
  background-color: #ffffff;
  border-radius: 9999px;
}
*::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border: 3px solid #ffffff;
  border-radius: 9999px;
}

input,
textarea {
  font-size: 14px;
}
input::placeholder,
textarea::placeholder {
  color: #aaa;
  font-size: 14px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* 自定义自转动画 */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); /* 这里可以调整旋转的度数 */
  }
}
.animate-spin-12 {
  animation: spin 12s linear infinite; /* 这里可以调整动画的持续时间和速度 */
}

@layer components {
  /* main */
  .main-container {
    @apply min-h-screen bg-light-2 pt-[60px];
  }

  /* Head Text */
  .head-text {
    @apply text-heading2-bold text-dark-1;
  }

  .rightsidebar {
    @apply fixed right-0 top-0 z-20 flex h-screen w-[300px] flex-col justify-between overflow-auto bg-light-1 shadow-sm pb-5 pt-20 transform transition-transform duration-300 ease-in-out;
  }

  .rightsidebar_link {
    @apply relative flex justify-start items-center gap-4 rounded-lg p-4;
  }
}
